<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h1><%= question.title %></h1>
    <hr>
    <p><%= question.description %></p>
</div>
<%- include ('partials/footer.ejs') %>